<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tripto.booking_app.mapper.RoleMapper">
    <resultMap id="findByNameResult" type="com.tripto.booking_app.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <select id="findByName" resultMap="findByNameResult">
        SELECT
        roles.id,
        roles.name,
        FROM roles
        WHERE roles.name = #{role}
    </select>

    <insert id="saveUserRole" parameterType="com.tripto.booking_app.entity.UserRole">
        INSERT INTO user_roles
        (user_id, role_id)
        VALUES
        (#{userId}, #{roleId})
    </insert>
</mapper>
